[clickhouse-stable]
name=ClickHouse - Stable Repository
baseurl=https://repo.clickhouse.tech/rpm/stable/$basearch/
gpgkey=https://repo.clickhouse.tech/CLICKHOUSE-KEY.GPG
gpgcheck=1
enabled=1
 
[clickhouse-lts]
name=ClickHouse - LTS Repository
baseurl=https://repo.clickhouse.tech/rpm/lts/$basearch/
gpgkey=https://repo.clickhouse.tech/CLICKHOUSE-KEY.GPG
gpgcheck=1
enabled=0
 
[clickhouse-prestable]
name=ClickHouse - Pre-stable Repository
baseurl=https://repo.clickhouse.tech/rpm/prestable/$basearch/
gpgkey=https://repo.clickhouse.tech/CLICKHOUSE-KEY.GPG
gpgcheck=1
enabled=0
 
[clickhouse-testing]
name=ClickHouse - Testing Repository
baseurl=https://repo.clickhouse.tech/rpm/testing/$basearch/
gpgkey=https://repo.clickhouse.tech/CLICKHOUSE-KEY.GPG
gpgcheck=1
enabled=0
